<!-- templates/navigationguide.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Upload CSV | Attendy{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="navigationguide"> 
        <h2 class="links-header">Download Attendance Form</h2>
        <p>Download attendance form to be submitted to UCB here.</p>
        <form method="POST" enctype="multipart/form-data" class="form-horizontal"> 
            {% csrf_token %}
            {% if query_list %}
                <p>
                   <label for="id_username">Classroom:</label>
                   <select name="username" required id="id_username">
                        <option value selected>----------</option>
                        {% for element in query_list %}
                        <option value="{{ element.username }}">{{ element.username }}</option>
                        {% endfor %}
                    </select>
                </p>
                <!-- <p>
                    <label for="id_attendancedate">Attendance Date:</label>
                    <input type="date" id="attendancedate" name="attendancedate" value="2020-01-01">
                </p> -->
                <p>
                    <label for="id_latetime">Late time:</label>
                    <input type="time" id="latetime" name="latetime" step="60" value="13:41" required>
                </p>
                <button type="submit">Submit</button>
            {% endif %}
        </form>
    </div>
{% else %}
    <div class="navigationguide"> 
        <h2 class="links-header">You don't have access to this page!</h2>
    </div>
{% endif %}
{% endblock %}