<!-- templates/navigationguide.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Upload CSV | Attendy{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="navigationguide"> 
        <h2 class="links-header">Upload Nominal Roll</h2>
        <form method="POST" enctype="multipart/form-data" class="form-horizontal"> 
            {% csrf_token %}
            <div class="form-group">
                <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
                <div class="col-md-8">
                    <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
                </div>                    
            </div>
            <button type="submit">Submit</button>
        </form>
        <div class="sample-table-section">
            <h4 class="upload-header">Sample table</h2>
            <p>Ensure that uploaded .csv file has no headers.</p>
            <p>Currently only supports name and email address fields.</p>
            <table class="centre-table">
                <tr class="demo_upload_row">
                    <td class="demo_upload_row">Jackson Smith</td>
                    <td class="demo_upload_row">jackson@berkeley.edu</td>
                </tr>
                <tr class="demo_upload_row">
                    <td class="demo_upload_row">Harley Smith</td>
                    <td class="demo_upload_row">harley@berkeley.edu</td>
                </tr>
            </table>
        </div>
    </div>
{% else %}
    <div class="navigationguide"> 
        <h2 class="links-header">You don't have access to this page!</h2>
    </div>
{% endif %}
{% endblock %}